################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
 bin/Debug/
 *.suo
*.user
_ReSharper.*
bin/*
bin
obj
obj/*
packages
/obj
 
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release