################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
 bin/Debug/
 *.suo
*.user
_ReSharper.*
bin
obj
packages